@charset "UTF-8" ;
@import url(reset.css);
@import url(font.css);

body {font-family: 'pretendard', sans-serif;}
.container {width: 1620px; margin: 0 auto; border: 1px solid #000;}

header {height:178px;}
header .container {}
header .topset {display: flex; justify-content: space-between;}
header .langbox {display: flex; border: 1px solid #000;font-style: 14px; gap: 13px;align-items: center;color:#808080;}
header .langbox a {padding: 10px 0;color: #808080;}
header .langbox a ::before {content:"";}
header .langbox a.on {color:05456E; font-weight: 600;}
header h1 {margin-top: 20px;}
header h1 a {}
header h1 a img {}

header .baro {display: flex;gap: 25px;border: 1px solid #000;align-items: center;`}
header .baro a {padding: 10px 0; font-size: 14px;color: #808080;}
.hero {height:650px; background: #eee;}

.section_box {}

footer {height: 225px; background: #d9d9d9;}

