@charset "UTF-8" ;
@import url(reset.css);
@import url(font.css);

body {font-family: 'pretendard', sans-serif;}
.container {max-width: 1620px; margin: 0 auto;}

header {height:178px;}
header .container {}
header .topset {display: flex; justify-content: space-between;}
header .langbox {display: flex;font-style: 14px; gap: 13px; align-items: center;color:#808080; margin-left: 120px;}
header .langbox a {padding: 10px 0;color: #808080;}
header .langbox a ::before {content:"";}
header .langbox a.on {color:05456E; font-weight: 600;}
header h1 {margin-top: 20px;}
header h1 a {}
header h1 a img {}

header .baro {display: flex;gap: 25px;align-items: center;margin-right: 6.5vw;}
header .baro a {padding: 10px 0; font-size: 14px;color: #808080;}
header nav {}
header nav .gnb {display: flex;justify-content: space-between;}
header nav .gnb > li {font-size: 20px;flex-grow: 1; transition: .2s; position: relative;}
header nav .gnb > li > a {padding: 25px 40px; display: flex; justify-content: center;}

header nav .gnb >li:hover {font-size:24px;font-weight:bold;}
.hero {height:650px; background: #eee; }
header nav .gnb >li:hover .lnb {opacity: 1;visibility: visible;top: 90%}
header nav .gnb li:last-child .lnb {right:0; left: auto;}
header nav .gnb .lnb {position: absolute;background: #fff; padding: 49px 36px; display: flex; left: 0; top: 50%; box-shadow:4px 6px 60px rgba(0, 0, 0, 0.1);width: 130%;opacity: 0;transition: 0.3s; visibility: hidden;}
header nav .gnb .lnb figure {padding-right: 38px;border-right: 1px solid #000; display: flex; align-items: center;}
header nav .gnb .lnb figure img {}
header nav .gnb .lnb ul {display: flex; flex-wrap: wrap; gap: 17px 0; padding-left: 38px;}
header nav .gnb .lnb ul li {font-size: 18px; width: 50%; border: 1px solid #000;box-sizing: border-box; text-align: center; white-space: nowrap;}
header nav .gnb .lnb ul li a  {padding: 5px 0; display: block;}

.section_box {}

footer {height: 225px; background: #d9d9d9;}

